# Server
PORT=5000
NODE_ENV=development

# MongoDB Atlas
MONGO_URI=mongodb+srv://shanmugaraj4696:1234@app.sftvlv0.mongodb.net/?appName=app

# JWT Secret (use a long random string in production)
JWT_SECRET=5065229053b557fa4b899ef1fd703fa4e451dd528ae2a5a1bd42da8043d3f8d76a25c6048a2e91e641a91a9375618f86ea60b7fec4611c14d765e4623d43360f

# Admin credentials (seeded on first run)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=axiom@admin2024

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:3000
